/* ------------------------------------- MAIN ----------------------------- */
.centered {
	text-align: center;
}

body {
	padding-top: 35px; /* So nav bar does not overlay content */
	background-color: #862850;
	color: #FFF;
}

.row {
	margin-right: 0px;
}

.section {
	padding: 2% 1% 3% 1%;
}

.linkless {
	color: inherit;
	text-decoration: none;
}

.linkless:hover {
	color: inherit;
	text-decoration: none;
}

/* ------------------------------- NAVBAR --------------------------------- */
.my-nav {
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 1030;

	background-color: #470107;
	min-height: 35px;
	height: 35px;

	border: 0px;
}

.nav-list {
	list-style-type: none;
	font-family: 'Lato', sans-serif;
	font-size: 0;
	text-align: center;
}

.nav-item {
	display: inline-block;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 35px;
	padding-left: 30px;
	padding-right: 30px;
	text-decoration: none;
	margin: none;
}

.nav-item:hover {
	background-color: rgba(151,69,82,0.75);
}

.nav-link {
	text-decoration: none;
	color: #FFF;
}

.nav-link:hover {
	text-decoration: none;
	color: #FFF;
}

/* --------------------------- COVER PICTURE ---------------------------- */

#header{
	background: url('../images/download_20140507_224606.jpeg') no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:65vh;
}
.section-overlay-mask {
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.banner-text {
	position: absolute;
	top: 30%;
	text-align: center;
	font-family: 'Lobster', cursive;
}

.banner-title {
	font-weight: 300;
	font-size: 5em;
	color: #0E557A;
}

.banner-subtitle {
	font-weight: 100;
	font-size: 2em;
	color: #098691;
}

/*.stretch {
	display: inline-block;
	width: 100%;
}*/

/* ----------------------------- ABOUT ME --------------------------------- */
.sect-a {
	background-color: #8A3F4B; /* A44B59 */
}

.headers-text {
	font-family: 'Bree Serif', serif;
	font-size: 2.75em;
	font-weight: 100;
	color: #CFBAC4;
}

.subheadings {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.35em;
	color: #FFF;
}

/* ---------------------------- PROJECTS ---------------------------------- */
.sect-b {
	background-color: #64242E;
}

.parent {
	overflow: hidden;
	position: relative;
}

.project, .first-project {
	margin-bottom: -99999px;
	padding-bottom: 99999px; 
}

.project::before {
	content:" ";
	margin:0 -15px;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 1px;
	background: #594C59;
}

.app-icon {
	border-radius: 20%;
	overflow: hidden;
	float: none;
	width: 60%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8%;
	margin-bottom: 8%;
}

#mean-icon {
	border-radius: 20%;
	overflow: hidden;
	float: none;
	background-color: #003941;
	padding-left: 2px;
	padding-right: 2px;
	width: 57%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8%;
	margin-bottom: 8%;
}

.app-desc {
	font-family: 'Oxygen', sans-serif;
	font-size: 1.15em;
	font-weight: 300;
	color: #FFDBD9;

	text-align: center;
}

.app-title {
	font-family: 'Nato Sans', sans-serif;
	font-size: 1.8em;
	font-weight: 500;
	margin-bottom: 5%;

	text-align: center;
}

.in-dev {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.65em;
	font-weight: 300;
	color: #7D7D7D;
}

/* ------------------------------ CONTACT ------------------------------- */
.sect-c {
	background-color: #8A3F4B; /* B15160 */
}

.contact-list {
	vertical-align: middle;
	text-align: center;

	padding-left: 0px;
}

.contact-link {
	color: #BF6572;
}

.contact-link:hover {
	color: #BF3E52;
	text-decoration: none;
}

.contact-icon {
	font-size: 2em;
}

.contact-mount {
	background-color: rgba(74,27,34,0.35);
	display: inline-block;

	text-decoration: none;

	height: 56px;
	width: 56px;
}

/* ------------------------------- FOOTER -------------------------------- */
.sect-d {
	background-color: #64242E; /* 72728E */
	padding: 1% 1% 2% 1%;
}