.centered {
	text-align: center;
}

.justifier {
	width: 100%;
	display: inline-block;
}


body {
	padding-top: 50px; /* So nav bar does not overlay content */
	background-color: #862850;
	color: #FFF;
}

.navbar {
	border-style: none;
	background-color: #470107;
	background-image: none;
}

.section {
	padding: 2% 1% 3% 1%;
}

.sect-a {
	background-color: #8A3F4B; /* A44B59 */
}

.sect-b {
	background-color: #64242E;
}

.sect-c {
	background-color: #8A3F4B; /* B15160 */
}

.sect-d {
	background-color: #64242E; /* 72728E */
	padding: 2% 1% 2% 1%;
}

.footer {
	padding-top: 1%;
}

#wmd-title {
	text-align: left;
}

.wmd {
	text-align: left;
	padding-left: 2%;
}

.wmd-header {
	font-weight: bolder;
}

.wmd-items {

}

.parent {
	overflow: hidden;
	position: relative;
}

.project, .first-project {
	margin-bottom: -99999px;
	padding-bottom: 99999px; 
}

.project::before {
    content:" ";
    margin:0 -15px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #594C59;
}

.app-icon {
	border-radius: 30%;
	overflow: hidden;
	float: none;
	
	width: 75%;
	height: auto;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 8%;
	margin-bottom: 8%;
}

.app-desc {
	font-family: 'Oxygen', sans-serif;
	font-size: 1.15em;
	font-weight: 300;
	color: #FFDBD9;
}

.app-title {
	font-family: 'Nato Sans', sans-serif;
	font-size: 1.8em;
	font-weight: 500;
	margin-bottom: 5%;
}

.in-dev {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.65em;
	font-weight: 300;
	color: #7D7D7D;
}

#last-app {

}

.linkless {
	color: inherit;
	text-decoration: none;
}

.linkless:hover {
	color: inherit;
	text-decoration: none;
}

.contact-list {
	vertical-align: middle;
}

.contact-icon {
	font-size: 2em;
}

.contact-mount {
	background-color: #000;
	display: inline-block;
	text-align: center;

	height: 56px;
	width: 56px;
}

.banner-text {
	position: absolute;
	top: 30%;
	text-align: center;
	font-family: 'Lobster', cursive;
}

.banner-title {
	font-weight: 300;
	font-size: 5em;
	color: #0E557A;
}

.banner-subtitle {
	font-weight: 100;
	font-size: 2em;
	color: #098691;
}

/*Header SECTION STYLES*/
#header{
	background: url('../images/download_20140507_224606.jpeg') no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:65vh;
}
.section-overlay-mask {
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}


.headers-text {
	font-family: 'Bree Serif', serif;
	font-size: 2.75em;
	font-weight: 100;
	color: #CFBAC4;
}

.subheadings {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.35em;
	color: #FFF;
}

