.centered {
	text-align: center;
}

/* So nav bar does not overlay content */
body {
	padding-top: 50px;
	background-color: #3f0101;
}

.navbar {
	border-style: none;
	background-color: #3A0106;
	background-image: none;
}

.section {
	padding: 4% 1% 4% 1%;
}

.section-alt {
	background-color: #222;
	padding: 4% 1% 4% 1%;
}

.footer {
	padding-top: 1%;
}

#wmd-title {
	text-align: left;
}

.wmd {
	text-align: left;
	padding-left: 2%;
}

.wmd-header {
	font-weight: bolder;
}

.wmd-items {

}

.app-icon {
	border-radius: 30%;
	display: inline-block;
	overflow: hidden;
	float: none;
}

.app-desc {
	text-align: left;
	text-indent: 30px;
}

.linkless {
	color: inherit;
	text-decoration: none;
}

.linkless:hover {
	color: inherit;
	text-decoration: none;
}

.project {
    display:inline-block;
    margin:10px 10px;
    overflow:hidden;
    float: none;
}

.contact-icon {
	font-size: 2em;
}
/*
.banner-wrapper {
	position: relative;
}
*/
.banner-img {
	width:100vw;
}

.banner-text {
	position: absolute;
	top: 40%;
	text-align: center;
}

.banner-wrapper {
	background: url('../images/download_20140507_224606.jpeg') no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}


/*Header SECTION STYLES*/
#header{
	background: url('../images/download_20140507_224606.jpeg') no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:65vh;
}
.section-overlay-mask {
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #777; opacity: 0.25;
	display: block;
}

#header h1 {
	font-size:5em;
	color:white;
	text-align: center;
	padding-top: 90px;
}
#header .col-md-12{
	height:70%;
}
#header p {
	font-size: 20px;
	text-align: center;
	color:white;
}
#txt{
	top:30%;
}