body,html {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;

	margin: 0;
	padding: 0;
	height: 100%;
}

$page-margin: 40px;
.head-wrap {
	margin-right: $page-margin;
	margin-left: $page-margin;
}

/** BRANDING */
.brand-wrap {
	#brand {
		font-size: 54px;
		margin-bottom: 0px;
		font-weight: 300;
	}

	#sub-brand {
		font-size: 27px;
		font-weight: 300;
		margin-top: 0px;
		color: rgba(0,0,0,0.4);
	}
}

/** NAVBAR */
.nav-menu {
	margin-top: 20px;
	font-size: 45px;
	text-align: right;
}

$nav-item-offset: 5px;
.nav-menu li {
	/** Remove default ul styles */
	list-style-type: none;
	display: inline;

	/** Space out li */
	padding-left: $nav-item-offset;
	padding-right: $nav-item-offset;

	/** Give them colors */
	color: rgba(66,66,66,0.7);
}

.nav-menu li a {
	text-decoration: none;
	color: inherit;
}

.nav-menu li.active {
	color: #000;
	-webkit-text-stroke-width: 0.25px;
	-webkit-text-stroke-color: black;
}

/** CONTACT SECTION */
#contact p span {
	display: inline;
}

#contact p span a {
	text-decoration: none;
	color: inherit;
}