body,html {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;

	margin: 0;
	padding: 0;
	height: 100%;
}

$page-padding-top: 20px;
$page-padding-sides: 55px;
$page-padding-bottom: 40px;
.page-wrap {
	padding-top: $page-padding-top;
	padding-right: $page-padding-sides;
	padding-left: $page-padding-sides;
}

/** BRANDING */
.brand-wrap {
	#brand {
		font-size: 54px;
		margin-bottom: 0px;
		font-weight: 300;
		margin-top: 0px;
	}

	#sub-brand {
		font-size: 27px;
		font-weight: 300;
		margin-top: 0px;
		color: rgba(0,0,0,0.4);
	}
}

/** NAVBAR */
.nav-menu {
	font-size: 45px;
	text-align: right;
}

$nav-item-offset: 5px;
.nav-menu li {
	/** Remove default ul styles */
	list-style-type: none;
	display: inline;

	/** Space out li */
	padding-left: $nav-item-offset;
	padding-right: $nav-item-offset;

	/** Give them colors */
	color: rgba(66,66,66,0.7);
}

.nav-menu li a {
	text-decoration: none;
	color: inherit;
}

.nav-menu li.active {
	color: #000;
	-webkit-text-stroke-width: 0.25px;
	-webkit-text-stroke-color: black;
}

/** CONTACT SECTION */
#contact ul {
	text-align:center;
}
#contact ul a:nth-child(even) {
	color: rgba(89,89,87,0.6);
	text-decoration: none;
}

#contact ul a:nth-child(odd) {
	color: #000;
	text-decoration: none;
}

#contact ul li {
	list-style-type: none;
	display: inline;

	font-size: 45px;
}