body, html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  height: 100%; }

.page-wrap {
  padding-top: 0px;
  padding-right: 55px;
  padding-left: 55px;
  padding-bottom: 10px; }

/** BRANDING */
.brand-wrap #brand {
  font-size: 54px;
  margin-bottom: 0px;
  font-weight: 300;
  margin-top: 0px; }
.brand-wrap #sub-brand {
  font-size: 27px;
  font-weight: 300;
  margin-top: 0px;
  color: rgba(0, 0, 0, 0.4); }

/** NAVBAR */
.nav-menu {
  font-size: 45px;
  text-align: right; }

.nav-menu li {
  /** Remove default ul styles */
  list-style-type: none;
  display: inline;
  /** Space out li */
  padding-left: 5px;
  padding-right: 5px;
  /** Give them colors */
  color: rgba(66, 66, 66, 0.7); }

.nav-menu li a {
  text-decoration: none;
  color: inherit; }

.nav-menu li.active {
  color: #000;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: black; }

/** CONTACT SECTION */
#contact ul {
  text-align: center;
  margin-bottom: 0px; }

#contact ul a:nth-child(even) {
  color: rgba(89, 89, 87, 0.6);
  text-decoration: none; }

#contact ul a:nth-child(odd) {
  color: #000;
  text-decoration: none; }

#contact ul li {
  list-style-type: none;
  display: inline;
  font-size: 45px; }

/** CONTENT FRAMES */
.content-frame {
  border: 1px solid #000;
  height: 780px;
  width: 100%; }

/***************************** ABOUT SECTION **************************/
#about-img img {
  width: 420px;
  height: 400px; }

#about-img p {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px; }

#about-img p:nth-child(2) {
  font-size: 20px;
  font-weight: 400; }
